<!-- @format -->

<html>
	<head>
		<title>About</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This web site was created by Omri Reindorp</p>
			<img class="portrait" src='./img/ASCII.png' alt='' />
		</div>
		
		{{>footer}}
	</body>
</html>